@import url(https://fonts.bunny.net/css?family=open-sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i);

html {
    font-family: 'open-sans', sans-serif;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #424344;
}

.border-gradient-blue-90 {
    border: 1px solid transparent;
    background-image: linear-gradient(90deg, rgba(34, 44, 58, 1), rgba(34, 44, 58, 1)), linear-gradient(90deg, rgba(25, 174, 255, 0.2) 0.3%, rgba(0, 60, 139, 0.2) 32.11%, rgba(28, 169, 245, 0.2) 88.32%);
    background-clip: padding-box, border-box;
}

.flou {
    filter: blur(3px);
}

.flou:hover {
    cursor: pointer;
}

.noFlou:hover {
    cursor: pointer;
}

.filtrage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50%;
}

.profil {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.italy {
    font-style: italic;
}

.search {
    background-color: #fff;
    padding: 4px;
    border-radius: 5px
}

.search-1 {
    position: relative;
    width: 100%
}

.search-1 input {
    height: 45px;
    border: none;
    width: 100%;
    padding-left: 34px;
    padding-right: 10px;
    border-right: 2px solid #eee
}

.search-1 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none
}

.search-1 svg {
    position: absolute;
    top: 12px;
    left: 5px;
    font-size: 24px;
    color: #eee
}

::placeholder {
    color: #eee;
    opacity: 1
}

.search-2 {
    position: relative;
    width: 100%
}

.search-2 input {
    height: 45px;
    border: none;
    width: 100%;
    padding-left: 18px;
    padding-right: 100px
}

.search-2 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none
}

.search-2 svg {
    position: absolute;
    top: 12px;
    left: -10px;
    font-size: 24px;
    color: #eee
}

.search-2 button {
    position: absolute;
    right: 1px;
    top: 0px;
    border: none;
    height: 45px;
    background-color: red;
    color: #fff;
    width: 90px;
    border-radius: 4px
}

@media (max-width:800px) {
    .search-1 input {
        border-right: none;
        border-bottom: 1px solid #eee
    }

    .search-2 i {
        left: 4px
    }

    .search-2 input {
        padding-left: 34px
    }

    .search-2 button {
        height: 37px;
        top: 5px
    }
}